<h1>Welcome to David's 4runner</h1>
<a href="/set_start_car">Start Car</a> |
<a href="/lock_car">Lock Car</a> |
<a href="/roll_down_windows">Roll Down Windows</a> |
<a href="/unlock_car">Unlock Car</a>
<a href="/lock_car">Lock Car</a>


<hr/><p><p>
<a href="/car_api">Reset API (get last status)</a>
